In [185]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [186]:
md = pd.read_excel('C:/Users\caelp\Downloads\Премиум авто.xlsx', sheet_name = 'Маркетинговые данные')
crm = pd.read_excel('C:/Users\caelp\Downloads\Премиум авто.xlsx', sheet_name = 'Данные из CRM')
book = pd.read_excel('C:/Users\caelp\Downloads\Премиум авто.xlsx', sheet_name = 'Справочник')

In [187]:
md.columns

Index(['Client ID', 'Domain', 'City', 'Region', 'Browser', 'Device Category',
       'Date', 'Pageviews', 'Campaign', 'Keyword', 'Medium', 'Source',
       'Avg. Session Duration', 'Bounce Rate', 'Sessions',
       'Goal Completion Location', 'Goal Completions', 'Goal Conversion Rate',
       'Goal Value', 'Конверсия', 'Source conv.'],
      dtype='object')

In [188]:
crm.columns

Index(['Client ID', 'Город', 'Просчет стоимости модели', 'Приход к диллеру',
       'Продажа'],
      dtype='object')

In [189]:
book.columns

Index(['Марка', 'Модель', 'Цена', 'Валюта', 'Маржинальность'], dtype='object')

In [190]:
md.describe(include=['object'])

,Client ID,Domain,City,Region,Browser,Device Category,Date,Campaign,Keyword,Medium,Source,Avg. Session Duration,Bounce Rate,Goal Completion Location,Goal Value,Source conv.
count,66162,66162,66162,66162,66162,66162,66162,66162,64710,66162,66162,66162,66162,66162,66162,66162
unique,40052,4,583,272,30,3,48,31,684,7,88,2990,7,5080,21949,88
top,GA1.2.1456204387.1572284765,Mersedes-krasnodar.ru,Krasnodar,Krasnodar Krai,Chrome,mobile,14 января 2020 г.,(not set),(not set),referral,google,0,0,/,0,google
freq,155,33875,36531,47648,34682,39465,1649,55828,42746,24178,18099,24253,65352,32862,32799,18099

In [191]:
pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in c:\users\caelp\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: beautifulsoup4 in c:\users\caelp\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: pandas in c:\users\caelp\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\caelp\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\caelp\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\caelp\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\caelp\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: soupsieve>1.2 in c:\users\caelp\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\caelp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\caelp\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\caelp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\caelp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [192]:
import requests

url = 'https://www.cbr.ru/currency_base/daily/'
response = requests.get(url)

In [193]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(response.text, 'html.parser')

In [194]:
table = soup.find('table')

In [195]:
data = []

for row in table.find_all('tr'):
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])

currency = pd.DataFrame(data)

In [196]:
currency.columns = ['Цифр.код', 'Букв.код', 'Единиц', 'Валюта', 'Курс']
currency.head()

  Цифр.код Букв.код Единиц                 Валюта     Курс
0     None     None   None                   None     None
1      036      AUD      1   Австралийский доллар  60,7765
2      944      AZN      1  Азербайджанский манат  55,7128
3      051      AMD    100       Армянских драмов  24,5380
4      933      BYN      1      Белорусский рубль  29,8615

In [197]:
currency = currency.drop([0]).reset_index(drop=True)

In [198]:
currency

,Цифр.код,Букв.код,Единиц,Валюта,Курс
0,036,AUD,1,Австралийский доллар,"60,7765"
1,944,AZN,1,Азербайджанский манат,"55,7128"
2,051,AMD,100,Армянских драмов,"24,5380"
3,933,BYN,1,Белорусский рубль,"29,8615"
4,975,BGN,1,Болгарский лев,"52,4922"
5,986,BRL,1,Бразильский реал,"19,4300"
6,348,HUF,100,Венгерских форинтов,"26,6771"
7,410,KRW,1000,Вон Республики Корея,"71,4697"
8,704,VND,10000,Вьетнамских донгов,"39,5588"
9,344,HKD,1,Гонконгский доллар,"12,0975"
10,981,GEL,1,Грузинский лари,"35,8933"
11,208,DKK,1,Датская крона,"13,7736"
12,784,AED,1,Дирхам ОАЭ,"25,7859"
13,840,USD,1,Доллар США,"94,7117"
14,978,EUR,1,Евро,"102,2586"
15,818,EGP,10,Египетских фунтов,"30,6554"
16,356,INR,10,Индийских рупий,"11,3986"
17,360,IDR,10000,Индонезийских рупий,"62,0938"
18,398,KZT,100,Казахстанских тенге,"20,4986"
19,124,CAD,1,Канадский доллар,"69,8206"
20,634,QAR,1,Катарский риал,"26,0197"
21,417,KGS,10,Киргизских сомов,"10,7359"
22,156,CNY,1,Китайский юань,"12,9720"
23,498,MDL,10,Молдавских леев,"53,0550"
24,554,NZD,1,Новозеландский доллар,"56,0504"
25,934,TMT,1,Новый туркменский манат,"27,0605"
26,578,NOK,10,Норвежских крон,"88,8819"
27,985,PLN,1,Польский злотый,"22,9260"
28,946,RON,1,Румынский лей,"20,6939"
29,960,XDR,1,СДР (специальные права заимствования),"125,9552"
30,941,RSD,100,Сербских динаров,"87,1011"
31,702,SGD,1,Сингапурский доллар,"69,7743"
32,972,TJS,10,Таджикских сомони,"86,4079"
33,764,THB,10,Таиландских батов,"27,0022"
34,949,TRY,10,Турецких лир,"34,9256"
35,860,UZS,10000,Узбекских сумов,"78,6053"
36,980,UAH,10,Украинских гривен,"25,6518"
37,826,GBP,1,Фунт стерлингов Соединенного королевства,"119,7914"
38,203,CZK,10,Чешских крон,"42,5403"
39,752,SEK,10,Шведских крон,"85,9110"
40,756,CHF,1,Швейцарский франк,"106,9464"
41,710,ZAR,10,Южноафриканских рэндов,"50,7663"
42,392,JPY,100,Японских иен,"64,8266"

In [199]:
book['Валюта'] = book['Валюта'].replace('$', 'Доллар США')
book

        Марка  Модель          Цена      Валюта  Маржинальность
0    Mercedes     gls  1.135135e+05  Доллар США            0.33
1    Mercedes  GT_AMG  1.743243e+05  Доллар США            0.34
2        Bм W      x5  7.222222e+04        Евро            0.27
3         BMW      i3  5.166667e+04        Евро            0.35
4    Mercedes    с180  2.300000e+06       Рубль            0.20
5   MercedeS     e220  3.850000e+06       Рубль            0.21
6         BMW      x1  2.200000e+06       Рубль            0.22
7         BMW      x3  3.350000e+06       Рубль            0.23
8    Mercedes    c200  2.750000e+06       Рубль            0.24
9         BMW     318  2.100000e+06       Рубль            0.25
10        BMW    530d  5.300000e+06       Рубль            0.26
11  MERCEDES     e400  5.900000e+06       Рубль            0.28
12   Mercedes     GLE  7.200000e+06       Рубль            0.29
13   Mercedes     cla  2.050000e+06       Рубль            0.30
14   Mercedes     cls  4.650000e+06       Рубль            0.31
15   Mercedes     glc  3.950000e+06       Рубль            0.32

In [200]:
book['Курс'] = 0

In [201]:
book.loc[book['Валюта'] == 'Рубль', 'Курс'] = 1
book

        Марка  Модель          Цена      Валюта  Маржинальность  Курс
0    Mercedes     gls  1.135135e+05  Доллар США            0.33     0
1    Mercedes  GT_AMG  1.743243e+05  Доллар США            0.34     0
2        Bм W      x5  7.222222e+04        Евро            0.27     0
3         BMW      i3  5.166667e+04        Евро            0.35     0
4    Mercedes    с180  2.300000e+06       Рубль            0.20     1
5   MercedeS     e220  3.850000e+06       Рубль            0.21     1
6         BMW      x1  2.200000e+06       Рубль            0.22     1
7         BMW      x3  3.350000e+06       Рубль            0.23     1
8    Mercedes    c200  2.750000e+06       Рубль            0.24     1
9         BMW     318  2.100000e+06       Рубль            0.25     1
10        BMW    530d  5.300000e+06       Рубль            0.26     1
11  MERCEDES     e400  5.900000e+06       Рубль            0.28     1
12   Mercedes     GLE  7.200000e+06       Рубль            0.29     1
13   Mercedes     cla  2.050000e+06       Рубль            0.30     1
14   Mercedes     cls  4.650000e+06       Рубль            0.31     1
15   Mercedes     glc  3.950000e+06       Рубль            0.32     1

In [202]:
def substitute_exchange_rate(data_table, currency_table, currency_name):
    data_table.loc[data_table['Валюта'] == currency_name, 'Курс'] = currency_table.loc[currency_table['Валюта'] == currency_name,'Курс'].iloc[0].replace(',','.')
    return data_table

In [203]:
substitute_exchange_rate(substitute_exchange_rate(book, currency, 'Доллар США'), currency, 'Евро')

        Марка  Модель          Цена      Валюта  Маржинальность      Курс
0    Mercedes     gls  1.135135e+05  Доллар США            0.33   94.7117
1    Mercedes  GT_AMG  1.743243e+05  Доллар США            0.34   94.7117
2        Bм W      x5  7.222222e+04        Евро            0.27  102.2586
3         BMW      i3  5.166667e+04        Евро            0.35  102.2586
4    Mercedes    с180  2.300000e+06       Рубль            0.20         1
5   MercedeS     e220  3.850000e+06       Рубль            0.21         1
6         BMW      x1  2.200000e+06       Рубль            0.22         1
7         BMW      x3  3.350000e+06       Рубль            0.23         1
8    Mercedes    c200  2.750000e+06       Рубль            0.24         1
9         BMW     318  2.100000e+06       Рубль            0.25         1
10        BMW    530d  5.300000e+06       Рубль            0.26         1
11  MERCEDES     e400  5.900000e+06       Рубль            0.28         1
12   Mercedes     GLE  7.200000e+06       Рубль            0.29         1
13   Mercedes     cla  2.050000e+06       Рубль            0.30         1
14   Mercedes     cls  4.650000e+06       Рубль            0.31         1
15   Mercedes     glc  3.950000e+06       Рубль            0.32         1

In [204]:
book['Курс'] = pd.to_numeric(book['Курс'])

In [205]:
book['Цена в рублях'] = book['Цена'] * book['Курс']

In [206]:
book['Маржа в рублях'] = book['Маржинальность'] * book['Цена в рублях']

Какой средний процент отказов (Bounce)

In [207]:
md['Bounce Rate'] = md['Bounce Rate'].replace(['-', 'null'], 0)

In [208]:
md['Bounce Rate'] = md['Bounce Rate'].astype('float')

In [209]:
md['Bounce Rate'].mean()

0.0022641395362897137

С каких устройств чаще заходят на сайты

In [216]:
md.groupby('Device Category').agg({'Sessions' : ['sum']})

                Sessions
                     sum
Device Category
desktop            28857
mobile             47710
tablet              2493

Какие источники наиболее конвертируемые

In [241]:
sample = md.groupby('Source').agg({'Конверсия' : ['sum']}).sort_values(('Конверсия', 'sum'), ascending=False)
sample.head(10)

                        Конверсия
                              sum
Source
google                       9106
yandex.ru                    5668
yandex                       5035
(direct)                     4790
BMW-keyauto-krd.ru           4151
google_go_search             1058
IG                            771
cars.BMW-keyauto-krd.ru       548
go.mail.ru                    399
carsdo.ru                     367